.box {
  height: 100vh;
}
.input-box {
  width: 370px;
  height: 280px;
  background-color: white;
}
.title {
  color: rgb(59, 174, 246);
}

.footer-modal {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-celc {
  width: 120px;
  /* color: rgb(59, 174, 246); */
}
.temp {
  font-size: 50px;
  font-weight: bold;
}
.temp-icon {
  font-size: 35px;
  color: rgb(59, 174, 246);
}
.humidity-icon {
  font-size: 45px;
  color: rgb(59, 174, 246);
}
.celc {
  font-size: 23px;
  font-weight: 500;
}
.caption-celc {
  font-size: 10px;
}
